#input-with-tool{
    position: relative;
}

#input-with-tool::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 35%;
    top: -24px;
    transform: rotate(45deg);
    background: #E6E6E6;
    display: none;
}

#input-with-tool div:first-child{
    width: 250px;
    height: 50px;
    border-radius: 4px;
    position: absolute;
    left: 30%;
    top: -60px;
    background: #E6E6E6;
    display: none;
}

#input-with-tool:hover div:first-child, 
#input-with-tool:hover::before{
    display: block;
}