.logo-and-toggler{
    width: 16%;
    font-size: 1.2em;
    font-weight: 500;
    padding: 0 0 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4DA592;
}